.prediction-value , th{
	background: black;
	color: white;
	font-weight: bold;
}

.select2-selection__rendered {
    line-height: 36px !important;
}

.select2-selection {
    height: 36px !important;
}

.select2-container--classic .select2-selection--single .select2-selection__arrow{
    height: 34px;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(212, 212, 212, 0.6) !important;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
  color: rgba(212, 212, 212, 0.6) !important;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
  color: rgba(212, 212, 212, 0.6) !important;
}

.form-control:-moz-placeholder { /* Firefox 18- */
  color: rgba(212, 212, 212, 0.6) !important;
}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background-color: rgb(155, 155, 155, 0.5);
    top: 0;
    display: none;
    text-align: center;
}

.loadingimage {
    /*color: rgb(10, 166, 153);*/
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 20px !important;
}

.loadingimage {
    right: 50%;
    margin: -27px -24px -27.5px -27px;
}