<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CharginhCore Simulator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='custom/select2.css') }}">
        <script src="{{ url_for('static', filename='custom/select2.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='custom/style.css') }}">
    </head>
    <body>
        <div id="progressbar" class="loading">
            <img src="{{ url_for('static', filename='progressbar.gif') }}" class="loadingimage">
        </div>
        <div class="container">
            <div class="jumbotron">
                <center><h1>Charging-Core Simulator</h1></center>
            </div>
            
            <p><strong>Note: </strong>If you need to change the quantify of the confidence interval for prediction interval, then you can put the values from 1 to 100 in the field Confidence Interval. By default, the value of confidence interval is <strong>70</strong>.</p>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <form action="{{ url_for('predict')}}" method="post" class="form-class">
                        <div class="row">
                            <div class="col-md-6">
                                
                                <div class="form-group input-group">
                                    <label for="confidence_interval"><strong>Confidence Interval:</strong></label>
                                    <input type="number" name="confidence_interval" step="1" class="form-control" required="required" id="confidence_interval" value="{{ request.form['confidence_interval'] if request.form['confidence_interval'] else 70 }}" min="1" max="100" placeholder="E.g. 1 - 100" style="border-radius: 2px;">
                                    <div class="input-group-append">
                                      <span class="input-group-text">%</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="feature_1">DN (Data National):</label>
                                    <input type="number" name="feature_1" step="any" class="form-control" required="required" id="feature_1" value="{{ request.form['feature_1'] }}" placeholder="E.g. 123.00" min="0">
                                </div>
                                <div class="form-group">
                                    <label for="feature_2">DR (Data Roaming):</label>
                                    <input type="number" name="feature_2" step="any" class="form-control" required="required" id="feature_2" value="{{ request.form['feature_2'] }}" placeholder="E.g. 123.00" min="0">
                                </div>
                                <div class="form-group">
                                    <label for="feature_3">MN (MMS National):</label>
                                    <input type="number" name="feature_3" step="any" class="form-control" required="required" id="feature_3" value="{{ request.form['feature_3'] }}" placeholder="E.g. 123.00" min="0">
                                </div>
                                <div class="form-group">
                                    <label for="feature_4">MR (MMS Roaming):</label>
                                    <input type="number" name="feature_4" step="any" class="form-control" required="required" id="feature_4" value="{{ request.form['feature_4'] }}" placeholder="E.g. 123.00" min="0">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="feature_5">PN (Policy National):</label>
                                    <input type="number" name="feature_5" step="any" class="form-control" required="required" id="feature_5" value="{{ request.form['feature_5'] }}" placeholder="E.g. 123.00" min="0">
                                </div>
                                <div class="form-group">
                                    <label for="feature_6">SN (SMS National):</label>
                                    <input type="number" name="feature_6" step="any" class="form-control" required="required" id="feature_6" value="{{ request.form['feature_6'] }}" placeholder="E.g. 123.00" min="0">
                                </div>
                                <div class="form-group">
                                    <label for="feature_7">SR (SMS Roaming):</label>
                                    <input type="number" name="feature_7" step="any" class="form-control" required="required" id="feature_7" value="{{ request.form['feature_7'] }}" placeholder="E.g. 123.00" min="0">
                                </div>
                                <div class="form-group">
                                    <label for="feature_8">VN (Voice National):</label>
                                    <input type="number" name="feature_8" step="any" class="form-control" required="required" id="feature_8" value="{{ request.form['feature_8'] }}" placeholder="E.g. 123.00" min="0">
                                </div>
                                <div class="form-group">
                                    <label for="feature_9">VR (Voice Roaming):</label>
                                    <input type="number" name="feature_9" step="any" class="form-control" required="required" id="feature_9" value="{{ request.form['feature_9'] }}" placeholder="E.g. 123.00" min="0">
                                </div>
                            </div>
                        </div>
                        <center>
                            <div class="form-group">
                                        <label for="no_of_instances"><strong>No. Of Instances:</strong></label>
                                        <input type="number" name="no_of_instances" class="form-control" required="required" id="no_of_instances" value="{{ request.form['no_of_instances'] if request.form['no_of_instances'] else 1 }}" placeholder="E.g. 123" style="width:50%;" min="1">
                            </div>
                        </center>
                        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
                    </form>
                </div>

                <div class="col-md-8">
                    {% if prediction_data %}
                        <table class="table table-bordered table-condensed table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Lower</th>
                                    <th>Prediction</th>
                                    <th>Upper</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for column_name, values_dict in prediction_data.items() %}
                                    <tr>
                                        <td>{{ column_name }}</td>
                                        {% for key, value in values_dict.items() %}
                                            <td class="{{'prediction-value' if key=='prediction' }}"><center>{{value}}</center></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    {% else %}
                        <br><br><br><br><br>
                        <center>
                            <h2>Prediction Results will be here!!!</h2>  
                            <img src="{{ url_for('static', filename='nothing-placeholder.png') }}">  
                        </center>
                    {% endif %}
                </div>
            </div>

        </div>
    </body>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.load-select2').select2({
                placeholder: "Select Load",
                allowClear: true,
                theme: "classic"
            });
        });

        $(document).on("submit", ".form-class", function (event) {
            $("#progressbar").show();
        });
    </script>
</html>